# Terraform working directory
.terraform/

# macOS
.DS_Store

# Draw.io backup files
*.bkp

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform saved plan files may contain sensitive values
tfplan
*.tfplan